.JokeCard {
	background-color: #EEEEEE;
	color: black;

  height: 40vh;
  width: 40vh;

	padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

	text-align: center;
	font-weight: bold;

  cursor: pointer;

  -webkit-box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
  box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
}

.JokeCardReveal {
  background-color: #00CC99;
  color: white;
}

@media (min-width: 768px) {
  .JokeCard {
    background-color: #EEEEEE;
    color: black;

    height: 40vh;
    width: 70vh;

    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    cursor: pointer;

    -webkit-box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
    box-shadow: 10px 10px 39px 0 rgba(0,0,0,0.35);
  }

  .JokeCardReveal {
    background-color: #00CC99;
    color: white;
  }
}